%form{'action':'', 'method':'post'}
  - csrf_token
  -# TODO: Ensure CSRF works in both normal submission and AJAX
  %span Add a new web page:
  = form.as_p
  %input{'type':'submit', 'value':'Submit'}
