<!DOCTYPE html>
%html
  %head
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}reset.css"></link>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.2.min.js"></script>
    - block head
  %body
    #header
      %h1 Subterreader
      %p Current user: {{ user }}
      %br
    - block content
