<!DOCTYPE html>
%html
  %head
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"></link>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/typography.css"></link>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}subterreader/css/sub.css"></link>
    <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}subterreader/js/jquery-ajax-send.js"></script>
    - block head
    %title
      - block title
        Subterreader
  %body
    #main
      #header
        %h1 Subterreader
        #user
          - if user.is_authenticated
            %span
              Current user: {{ user }}
            %span
              %a{'href': "/accounts/logout"} Log out
          - else
            %span
              Sign up (unavailable - currently in beta)
            %span
              %a{'href': "/accounts/login"} Log in
        %br
      - block content
