- extends 'subterreader/base.html.haml'

- block content
  %p
    Subterreader makes reading multiple web articles on a mobile device easier
  %p
    It loads several web pages at once, concatenating them together onto one page
  %p
    This comes in handy when you're about to go on a long underground journey and want a lot of reading material
  %p
    You can mark each article as read to clear it from your list. If your connection is down your request will be saved to a cookie and processed later
  %p
    %a{'href': "sample"} See a sample
  %p
    %a{'href': "https://github.com/c-oreills/subterreader"} Source on GitHub
