- extends 'subterreader/base.html.haml'

- block content
  - include 'subterreader/add.html.haml'
  - if webpages_list
    %ul
      - for webpage in webpages_list
        %li 
          %a{'href': "{{ webpage.url }}/"}= webpage.url
    %span
      %a{'href': "read"} Read
  - else
    %span No webpages are available.
