- extends 'subterreader/base.html.haml'

- block head
  - load compress
  - compress js
    <script type="text/coffeescript" src="{{ STATIC_URL }}subterreader/coffee/read.coffee"></script>
  - endcompress
  <script type="text/javascript">
    $(document).ready(function () {
      {% for webpage in webpages_list %}
      load_url_to_container('{{ webpage.url }}', $('#container-{{ forloop.counter0 }}'));
      {% endfor %}
      });
  </script>

- block content
  - if webpages_list
    - with webpages_list|length as webpages_len
      - include 'subterreader/read_controls.html.haml' with index=0 total=webpages_len webpage_id=None
      - for webpage in webpages_list
        %div
          %hr
          %p {{ webpage.url }}
          %div{'id': "container-{{ forloop.counter0 }}"} &nbsp;
          %hr
          - include 'subterreader/read_controls.html.haml' with index=forloop.counter total=webpages_len webpage_id=webpage.id
    - else
      %span No webpages are available.
      %span
        %a{'href':"{% url subterreader.views.main %}"} Back to main
