- extends 'subterreader/base.html.haml'

- block head
  <script type="text/javascript" src="{{ STATIC_URL }}subterreader/read.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      {% for webpage in webpages_list %}
      load_url_to_container('{{ webpage.url }}', $('#container-{{ forloop.counter0 }}'));
      {% endfor %}
      });
  </script>

- block content
  - if webpages_list
    - with webpages_list|length as docs_len
      - include 'subterreader/read_controls.html.haml' with index=0 total=docs_len
      - for webpage in webpages_list
        %div
          %hr
          %p {{ webpage.url }}
          %div{'id': "container-{{ forloop.counter0 }}"} &nbsp;
          %hr
          - include 'subterreader/read_controls.html.haml' with index=forloop.counter total=docs_len
    - else
      %p No webpages are available.
