{% extends 'subterreader/base.html' %}

{% block head %}
  <script type="text/javascript" src="{{ STATIC_URL }}subterreader/read.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      {% for document in documents_list %}
      load_url_to_container('{{ document.url }}', $('#container-{{ forloop.counter0 }}'));
      {% endfor %}
      });
  </script>
{% endblock %}

{% block content %}
  Current user: {{ request.user }}
  {% if documents_list %}
      {% for document in documents_list %}
          <div>
            <p>{{ document.url }}</p>
            <div id="container-{{ forloop.counter0 }}"></div>
            <hr />
            <div id="control-{{ forloop.counter0 }}">
              {% if not forloop.first %}
                <a href="">&lt;&lt; Back</a>
              {% endif %}
              <a href="">Mark above as read</a>
              {% if not forloop.last %}
              <a href="">Skip &gt;&gt;</a>
              {% endif %}
            </div>
            <hr />
          </div>
      {% endfor %}
  {% else %}
      <p>No documents are available.</p>
  {% endif %}
{% endblock %}
