%div{'id': "control-{{ index }}"}
  %a{'name': "control-{{ index }}"}
  - ifnotequal index 0
    %span
      %a{'href':"#control-{{ index|add:-1 }}"} &lt;&lt; Back
    %span
      %a{'href':""} Mark above as read
      -# TODO: Add Javascript to store this in cookie
  - ifnotequal index total
    %span
      %a{'href':"#control-{{ index|add:1 }}"} Skip &gt;&gt;
